-- Check if any bookings were created in the last 5 minutes
SELECT 
  'TOTAL_RECENT_BOOKINGS' as check_type,
  COUNT(*) as count
FROM bookings 
WHERE created_at > NOW() - INTERVAL '5 minutes'

UNION ALL

SELECT 
  'TOTAL_RECENT_PENDING' as check_type,
  COUNT(*) as count  
FROM pending_bookings
WHERE created_at > NOW() - INTERVAL '5 minutes'

UNION ALL

SELECT 
  'LATEST_BOOKING_TIME' as check_type,
  MAX(created_at)::text as latest_time
FROM bookings
WHERE created_at > NOW() - INTERVAL '30 minutes'

UNION ALL

SELECT 
  'LATEST_PENDING_TIME' as check_type,
  MAX(created_at)::text as latest_time
FROM pending_bookings  
WHERE created_at > NOW() - INTERVAL '30 minutes';
