-- FINAL CLEANUP: Remove ALL old pending bookings from bookings table
-- These are confusing the frontend

DELETE FROM bookings 
WHERE status = 'pending' 
  AND created_at < NOW() - INTERVAL '1 minute';

-- Verify cleanup
SELECT 
  'AFTER_CLEANUP' as status,
  COUNT(*) as total_bookings,
  COUNT(*) FILTER (WHERE status = 'pending') as pending_in_bookings,
  COUNT(*) FILTER (WHERE status = 'confirmed') as confirmed_bookings
FROM bookings;

-- Check pending_bookings table (this is what AI should manage)
SELECT 
  'PENDING_BOOKINGS_TABLE' as status,
  COUNT(*) as pending_bookings_count
FROM pending_bookings;
