-- Check if old pending bookings still exist in bookings table
SELECT 
  COUNT(*) as old_pending_bookings_in_bookings_table
FROM bookings 
WHERE status = 'pending';

-- Show details of any remaining old pending bookings
SELECT 
  id,
  status,
  date,
  start_time,
  COALESCE(c.name, 'Unknown') as customer_name,
  b.created_at::date as created_date,
  CASE 
    WHEN b.created_at < NOW() - INTERVAL '1 hour' THEN 'VERY OLD (>1hr)'
    WHEN b.created_at < NOW() - INTERVAL '10 minutes' THEN 'OLD (10min-1hr)'  
    ELSE 'RECENT (<10min)'
  END as age
FROM bookings b
LEFT JOIN customers c ON b.customer_id = c.id
WHERE b.status = 'pending'
ORDER BY b.created_at DESC;
