-- Check if the recent booking went to the right table
-- Check pending_bookings for recent entries
SELECT 
  'PENDING_BOOKINGS_RECENT' as table_name,
  COUNT(*) as count,
  MAX(created_at) as latest_booking
FROM pending_bookings
WHERE created_at > NOW() - INTERVAL '10 minutes';

-- Check bookings table for recent entries  
SELECT 
  'BOOKINGS_RECENT' as table_name,
  COUNT(*) as count,
  MAX(created_at) as latest_booking
FROM bookings
WHERE created_at > NOW() - INTERVAL '10 minutes';

-- Check the most recent booking in bookings table
SELECT 
  id,
  status,
  date,
  start_time,
  COALESCE(c.name, 'Unknown') as customer_name,
  b.created_at
FROM bookings b
LEFT JOIN customers c ON b.customer_id = c.id
WHERE b.created_at > NOW() - INTERVAL '10 minutes'
ORDER BY b.created_at DESC
LIMIT 1;
