-- Check which booking creation endpoint is being used
-- This will show us which table bookings are going to

-- Recent bookings in pending_bookings (AI monitors this)
SELECT 
  'PENDING_BOOKINGS_RECENT' as source,
  COUNT(*) as count,
  MAX(created_at) as last_created
FROM pending_bookings
WHERE created_at > NOW() - INTERVAL '1 hour';

-- Recent bookings in bookings table (frontend shows these)
SELECT 
  'BOOKINGS_TABLE_RECENT' as source,
  COUNT(*) as count,
  COUNT(*) FILTER (WHERE status = 'pending') as pending_count,
  MAX(created_at) as last_created
FROM bookings
WHERE created_at > NOW() - INTERVAL '1 hour';

-- Check the source of recent bookings
SELECT 
  source,
  status,
  COUNT(*) as count
FROM bookings
WHERE created_at > NOW() - INTERVAL '1 hour'
GROUP BY source, status
ORDER BY source, status;
