-- Check the status of the booking the user is seeing (Alpha on Jan 27, 2026)
SELECT 
  b.id,
  b.status,
  CASE 
    WHEN b.status IS NULL THEN 'NULL_STATUS'
    WHEN b.status = '' THEN 'EMPTY_STATUS' 
    ELSE 'HAS_STATUS'
  END as status_check,
  b.date,
  b.start_time,
  COALESCE(c.name, 'Unknown') as customer_name,
  b.created_at
FROM bookings b
LEFT JOIN customers c ON b.customer_id = c.id
WHERE b.date = '2026-01-27' 
  AND COALESCE(c.name, '') LIKE '%Alpha%'
ORDER BY b.created_at DESC;

-- Check all bookings with null or empty status
SELECT 
  COUNT(*) as bookings_with_null_status
FROM bookings 
WHERE status IS NULL OR status = '';

-- Check the most recent bookings to see their statuses
SELECT 
  b.status,
  COUNT(*) as count
FROM bookings b
GROUP BY b.status
ORDER BY count DESC;
