-- Check what old pending bookings exist in the bookings table
SELECT 
  id,
  status,
  date,
  start_time,
  COALESCE(c.name, 'Unknown') as customer_name,
  b.created_at::date as created_date,
  CASE 
    WHEN b.created_at < NOW() - INTERVAL '7 days' THEN 'OLD (>7 days)'
    WHEN b.created_at < NOW() - INTERVAL '1 day' THEN 'RECENT (1-7 days)'  
    ELSE 'VERY RECENT (<1 day)'
  END as age_category
FROM bookings b
LEFT JOIN customers c ON b.customer_id = c.id
WHERE b.status = 'pending'
ORDER BY b.created_at DESC
LIMIT 10;
