-- Check ALL recent activity in the last 5 minutes
-- This will show us where any recent bookings went

-- Check pending_bookings activity
SELECT 
  'PENDING_BOOKINGS_ACTIVITY' as check_type,
  COUNT(*) as total_pending,
  COUNT(*) FILTER (WHERE created_at > NOW() - INTERVAL '5 minutes') as recent_pending,
  MAX(created_at) as last_pending_created
FROM pending_bookings;

-- Check bookings table activity  
SELECT 
  'BOOKINGS_TABLE_ACTIVITY' as check_type,
  COUNT(*) as total_bookings,
  COUNT(*) FILTER (WHERE created_at > NOW() - INTERVAL '5 minutes') as recent_bookings,
  COUNT(*) FILTER (WHERE status = 'confirmed' AND created_at > NOW() - INTERVAL '5 minutes') as recent_confirmed,
  MAX(created_at) as last_booking_created
FROM bookings;

-- Check if there are any API logs or notifications for recent booking creation
SELECT 
  'RECENT_NOTIFICATIONS' as check_type,
  COUNT(*) as total_notifications,
  COUNT(*) FILTER (WHERE type = 'new_booking' AND created_at > NOW() - INTERVAL '5 minutes') as recent_new_bookings,
  MAX(created_at) FILTER (WHERE type = 'new_booking') as last_new_booking_notification
FROM notifications;
